<div class="container">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="card hovercard">
      <div class="card-background">
        <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
        <!-- http://lorempixel.com/850/280/people/9/ -->
      </div>
      <div class="useravatar">
        <img src="<%=current_user.profile_image.present? ? current_user.profile_image : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown">
      </div>
      <div class="card-info"> <span class="card-title"><%=current_user.name%></span>
      </div>
    </div>

    <ul class="nav nav-pills">
      <li><a href="<%=myprofile_dashboard_index_path%>">PROFILE</a></li>
      <% if user_role_owner %>
        <li><a href="<%=my_property_dashboard_index_path%>">MY PROPERTY</a></li>
        <li class="active"><a href="<%=my_earning_dashboard_index_path%>">MY EARNING </a></li>
      <%end%>
      <li><a href="<%=booking_dashboard_index_path%>">MY BOOKING</a></li>
      <li><a href="<%=vistis_dashboard_index_path%>">VISITS</a></li>
      <li><a href="<%=mypayments_dashboard_index_path%>">MY PAYMENTS</a></li>
      <li><a href="<%=changepassword_dashboard_index_path%>">CHANGE PASSWORD</a></li>
    </ul>

    <div class="well">
      <div class="tab-content">
        <table class="table table-hover">
          <% if @payments.present? %>
            <thead>
              <tr>
                <th>Name</th>
                <th>Booking type</th>
                <th>Order id</th>
                <th>Booking date:</th>
                <th>Total amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <%@payments.each_pair do |key, payments|%>
                <tr>
                  <td> 
                    <strong>Booking: <%=key.strftime("%a, %e %b %Y")%></strong>
                  </td>
                </tr>
                
                <%payments.each do |payment| %>
                  <tr>
                    <td><%=payment.try(:booking).try(:name)%></td>
                    <td>
                      <%= image_tag payment.try(:property).try(:photos).first.image, :style=>"height:80px;width:80px;"%> <span><%=payment.try(:property).try(:name)%></span>
                    </td>
                    <td><%=payment.try(:order_id)%></td>
                    <td><%=DateTime.parse(payment.txn_date).strftime("%a, %e %b %Y %H:%M")%></td>
                    <td><%=payment.try(:amount)%></td>
                    <td><%=payment.try(:status).eql?('TXN_SUCCESS') ? 'success' : ''%></td>
                  </tr>
                <%end%> 

                <tr>
                  <td colspan="6" align="right"> 
                    <strong> Earning: <%=payments.map(&:amount).reduce(:+)%></strong>
                  </td>
                </tr> 
              <%end%> 

              <tr>
                <td colspan="6" align="right"> 
                  <strong>Total Earning: <%=@payments.values.flatten.map(&:amount).reduce(:+)%></strong>
                </td>
              </tr>
            </tbody>
          <%else%>
            <h3>You did not earn from any property</h3>
          <%end%>  
        </table>
      </div>
    </div>
  </div>
</div>

