<div class="container">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="card hovercard">
      <div class="card-background">
        <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
        <!-- http://lorempixel.com/850/280/people/9/ -->
      </div>
      <div class="useravatar">
        <%if current_user.photo.present? %>
          <img src="<%=current_user.photo.present? ? current_user.photo.url : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown">
        <%else%>
          <img src="<%=current_user.profile_image.present? ? current_user.profile_image : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown">
        <%end%>
      </div>
      <div class="card-info"> <span class="card-title"><%=current_user.name%></span>
      </div>
    </div>

    <ul class="nav nav-pills">
      <li class="active"><a href="<%=myprofile_dashboard_index_path%>">PROFILE</a></li>
      <% if user_role_owner %>
        <li><a href="<%=my_property_dashboard_index_path%>">MY PROPERTY</a></li>
        <li><a href="<%=my_earning_dashboard_index_path%>">MY EARNING </a></li>
      <%end%>
      <li><a href="<%=booking_dashboard_index_path%>">MY BOOKING</a></li>
      <li><a href="<%=vistis_dashboard_index_path%>">VISITS</a></li>
      <li><a href="<%=mypayments_dashboard_index_path%>">MY PAYMENTS</a></li>
      <li><a href="<%=changepassword_dashboard_index_path%>">CHANGE PASSWORD</a></li>
    </ul>

    <div class="well">
      <div class="tab-content">
        <h3>PROFILE</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, :disabled=>true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :profession %><br />
            <%= f.text_field :profession, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :experience %><br />
            <%= f.text_field :experience, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :mobile_number %><br />
            <%= f.text_field :mobile_no, class: "form-control", onkeypress: "return event.charCode >= 48 && event.charCode <= 57", minlength:"10" ,maxlength:"10", placeholder:"Enter 10 digit Mobile Number" %>
          </div><br />

          <div class="field">
            <%= f.label :gender %>&nbsp;&nbsp;
            <label class="radio-inline">
              <%= f.radio_button :gender, 'Male', :checked => true %>Male
            </label>
            <label class="radio-inline">
              <%= f.radio_button :gender, 'Female' %>Female
            </label>
          </div>

          <div class="field">
            <img class="thumbnail img-preview-profile profile-image-show" src="<%= current_user.photo.present? ? current_user.photo.url : '/assets/user.png' %>" title="Preview Logo">
            
            <div class="input-group">
              <div class="input-group-btn">
                <div class="fileUpload btn btn-danger fake-shadow">
                  <span><i class="glyphicon glyphicon-upload"></i> Upload profile image</span>
                  <%= f.file_field :photo ,:class=>"attachment_upload logo-id"%>
                </div>
              </div>
            </div>
          </div><br>


          <div class="field">
            <img class="thumbnail img-preview-kyc profile-image-show" src="<%= current_user.kyc_doc.present? ? current_user.kyc_doc.url : '/assets/user.png' %>" title="Preview Logo">
            
            <div class="input-group">
              <div class="input-group-btn">
                <div class="fileUpload btn btn-danger fake-shadow">
                  <span><i class="glyphicon glyphicon-upload"></i> Upload KYC</span>
                  <%= f.file_field :kyc_doc ,:class=>"attachment_upload logo-id"%>
                </div>
                <span style="width: 100px; word-wrap: break-word;">(Passport, Voter's Identity Card, Driving Licence, Aadhaar Letter, NREGA Card, PAN Card, Other)</span>
              </div>
            </div>
          </div>
         
          <% if resource.roles.blank? %>
            <div class="form-group">
              <label for="user_role" class="col-sm-2 control-label">
              Type</label>
              <div class="col-sm-10">
                <label class="radio-inline"><input type="radio" name="role" value="Client" checked="checked">Client</label>
                <label class="radio-inline"><input type="radio" name="role" value="Owner">Owner</label>
              </div>
            </div>
          <%end%>  

          <div class="actions"><br />
            <center><%= f.submit "Update", class:"btn btn-primary" %></center>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



