<div class="row">
  <div class="col-md-12">
    <div style="padding:30px 0;">
      <% if @property.photos.present? %>
        <% if @property.photos.count > 1 %>
          <div id="thumbnail-slider">
            <div class="inner">
              <ul>
                <% @property.photos.each do |photo| %>
                  <li><a class="thumb" href="<%= photo.image.url %>"></a></li>
                <%end%>
              </ul>
            </div>
          </div>
        <%else%>
          <div class="col-md-10 col-md-offset-1" style="padding:30px 0;">
            <img src="<%= @property.photos.first.image.url %>" />
          </div>  
        <%end%>  
      <%else%>
        <h4><center>No Images</center></h4><br>
      <%end%>     
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div id="horizontalTab">
      <ul>
        <li><a href="#DESCRIPTION">DESCRIPTION</a></li>
        <li><a href="#FACILITIES">FACILITIES</a></li>
        <li><a href="#TYPE">PROPERTY TYPE</a></li>
        <!-- <li><a href="#Nearby">Nearby Properties</a></li> -->
      </ul>

      <div id="DESCRIPTION">
        <div class="city-info-content">
          
          <img src="<%= @property.photos.first.try(:image).try(:url) %>" alt="" style="width:100%;"/>
        </div>
        <h3>General Description</h3>
        <p><%= @property.try(:description)%> </p>
      </div>

      <div id="FACILITIES">
        <%= property_facilities%> 
      </div>

      <div id="TYPE">
        <div class="row">
          <%@property.property_types.each do |type|%>
            <% @property_price = @property.property_prices.where(property_type_id: type.id).first %>
            <div class="col-md-12" style="box-shadow: 0 1px 3px rgba(0, 0, 0, .4); padding-bottom: 15px;padding-top: 15px;">
              <div class="col-md-4"><strong>Type:</strong> <%=type.name%></div>
              <%if @property_price.try(:childrens).present?%>
                <div class="col-md-3"><strong>No of room:</strong> <%= @property_price.try(:number_of_room)%>
                  <%@property_price.childrens.each do |child|%><br>
                    <strong>Capacity:</strong> <%= child.try(:seats)%>
                  <%end%>
                </div>
              <%else%>
                <div class="col-md-3
                "><strong>Capacity:</strong> <%= @property_price.try(:seats)%> people</div> 
              <%end%>
              <div class="col-md-5">
                  <%if @property_price.hourly_price.blank? %>
                    <strong>Hourly Price:</strong> Not available <br>
                  <%else%>
                    <strong>Hourly Price:</strong> <%= @property_price.try(:hourly_price)%> per person/hour <br>
                  <%end%>

                  <%if @property_price.price.blank? %>
                    <strong>Daily Price:</strong> Not available <br>
                  <%else%>
                    <strong>Daily Price:</strong> <%= @property_price.try(:price)%> per person/day <br>
                  <%end%>

                  <%if @property_price.monthly_price.blank? %>
                    <strong>Monthly Price:</strong> Not available <br>
                  <%else%>
                    <strong>Monthly Price:</strong> <%=@property_price.try(:monthly_price)%> per person/month
                  <%end%>

                </div>
            </div>
          <%end%>
        </div> 
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group btn-group-justified" style="padding-bottom:15px;">
     <% if user_signed_in? %>
        <% if user_role_owner %>
          <% if @property.user == current_user%>
            <%= link_to 'Edit Property', edit_property_path(@property) ,class: "btn btn-primary"%>
          <%end%>  
        <%end%>
      <%end%>  
    </div>
    <div class="btn-group btn-group-justified">
      <%= link_to 'Book Now', book_now_property_booking_index_path(@property) ,class: "btn btn-primary" %> 
    </div>  

    <div class="details-hotel">
      <div style="text-align: center;">
        <h3><b>OPEN HOURS</b></h3>
      </div>
      <div class="more-time-details">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              From
            </div>
            <div class="col-md-4">
              To
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4 no-padding">
              <%=property_access_day%>
            </div>

            <% @count = JSON(@property.access_day).count if @property.access_day.present? %>

            <div class="col-md-4">
              <% if @count.present? %>
                <% @count.times do %>
                  <div><b><%= property_date(@property.start_date) %></b></div>
                <%end %>
              <%end%>  
            </div>

            <div class="col-md-4">
              <% if @count.present? %>
                <% @count.times do %>
                  <div><b><%= property_date(@property.end_date) %></b></div>
                <%end %>
              <%end%> 
            </div>  
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>

