<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><center>Change your password</center></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      

      <div class="form-group signin_form">
        <label for="new_password" class="col-sm-3 control-label">
        New password</label>
        <div class="col-sm-9">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" , :class=> "form-control"%>
        </div>
      </div>

      <div class="form-group signin_form">
        <label for="password_confirmation" class="col-sm-3 control-label">
        Confirm new password</label>
        <div class="col-sm-9">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off" , :class=> "form-control"%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10"><center>
          <%= f.submit "Change my password", :class=>"btn btn-primary btn-sm" %></center>
        </div>
      </div><br><br>
    <% end %>
  </div>
</div>  

