<div class="stepwizard">
  <div class="stepwizard-row">
    <div class="stepwizard-step">
      <button type="button" class="btn btn-primary btn-circle">1</button>
      <p><%=@property.id.nil? ? 'Create' : 'Update'%> Property</p>
    </div>
    <div class="stepwizard-step">
      <a href="<%= @property.id.nil? ? '#-': step_2_property_path(@property)%>" class="btn btn-default btn-circle">2</a>
      <p><%=@property.id.nil? ? 'Add' : 'Update'%>  seats</p>
    </div>
  </div>
</div>
<br>

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :Name_of_Property %>*<br>
    </div>
    
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", required: 'true', :placeholder=>"Enter property name" %> 
    </div>
  </div>

 <!--  <div class="row">
    <div class="col-md-3">
     <%#= f.label :name %>*<br>
    </div>
    <div class="col-md-9">
      <%#= f.text_field :contact_person, :placeholder=>"Enter contact person name", class: "form-control",required: 'true'%>
    </div>
  </div>  -->

  <br>
  <div class="row">
    <div class="col-md-3">
     <%= f.label :contact_person %>*<br>
    </div>
    <div class="col-md-9">
      <%= f.text_field :contact_person, :placeholder=>"Enter contact person name", class: "form-control",required: 'true'%>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :phone_number %>*<br>
    </div>
    <div class="col-md-9">
      <%= f.text_field :phone_number, class: "form-control", required: 'true',:onkeypress=>"return event.charCode >= 48 && event.charCode <= 57" ,:maxlength=>"10", :placeholder=>"Enter 10 digit Mobile Number" %> 
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :email %>*<br>
    </div>
    <div class="col-md-9">
     <%= f.text_field :email, class: "form-control", required: 'true', :placeholder=>"your@emaple.com" %>
    </div>
  </div>

   <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :property_type %><br>
    </div>
    <div class="col-md-9">
     <% PropertyType.all.each do |a_value| %>
      <label class="checkbox-inline">
      <% status = @property.properties_type.present? ? (JSON(@property.properties_type).include?(a_value.id.to_s) ? true : false ) : false %>
      <%= f.check_box :properties_type, { :multiple => true, :checked=> status}, a_value.id %><%=a_value.name%>
      </label>
    <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
     <%= f.label :description %>*<br>
    </div>
    <div class="col-md-9">
      <%= f.text_area :description, :placeholder=>"Describe property", class: "form-control",required: 'true', size: "20x5"%>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
     <%= f.label :address %>*<br>
    </div>
    <div class="col-md-9">
      <%= f.text_field :address, :class=> "form-control", :id=>"property_address_#{@property.id}" %>
    </div>
  </div>

  <br>
  <div class="field">
    <div id="property_map"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
     <%= f.label :facilities %><br>
    </div>
    <div class="col-md-9">
      <% Facility.all.each do |a_value| %>
          <%# if a_value.name.eql?('Car Parking') || a_value.name.eql?('AC') || a_value.name.eql?('Security') || a_value.name.eql?('Lifts') || a_value.eql?('CCTV')%>
            <label class="checkbox-inline">
            <%status = @property.facilities.present? ? (JSON(@property.facilities).include?(a_value.id.to_s) ? true : false ) : false %>
            <%= f.check_box(:facilities, { :multiple => true, :checked=> status }, a_value.id) %><%=a_value.name%>
          <%#end%>  
        </label>
      <% end %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
    <%= f.label :access_day %><br>
    </div>
    <div class="col-md-9">
       <% AccessDay.all.each do |a_value| %>
      <label class="checkbox-inline">
        <%status = @property.access_day.present? ? (JSON(@property.access_day).include?(a_value.id.to_s) ? true : false ) : false %>

        <%= f.check_box(:access_day, { :multiple => true, :checked=> status }, a_value.id) %><%=a_value.name%>
      </label>
    <% end %>
    </div>
  </div>
 

  <br>
  <div class="row">
    <div class="col-md-3">
    <%= f.label :opening_hours %><br>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <%= f.select "start_date", options_for_select(property_time, @property.start_date), {include_blank: 'Start Time'}, { autofocus: 'true', class: 'form-control'} %>
        </div>
        <div class="col-md-4">
          <%= f.select "end_date", options_for_select(property_time, @property.end_date), {include_blank: 'End Time'}, {autofocus: 'true', class: 'form-control'} %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <!-- <br>
  <div class="row">
    <div class="col-md-3">
    <%#= f.label :rent_status %><br>
    </div>
    <div class="col-md-9">
      <label class="checkbox-inline">
        <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Days") ? true : false) : false}, "Days") %>Days
      </label>
      <label class="checkbox-inline">
        <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Week") ? true : false) : false}, "Week") %>Week
      </label>
      <label class="checkbox-inline">
        <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Month") ? true : false) : false}, "Month") %>Month
      </label>
    </div>
  </div>  -->

  

  <br>
  <div class="row">
    <div class="col-md-3">
     <%= f.label :Upload_property_photos %><br>
    </div>
    <div class="col-md-9">
    <%= f.file_field :images, class: "form-control", multiple: true, :id=>"property_form_image" %>
    </div>
  </div>

  <div class="property-preview">
    <% if @property.photos.present? %>
      <% @property.photos.each do |photo| %>
        <img id="pr_update_image_<%=photo.id%>" src="<%= photo.image.url %>" />
        <a href="javascript:void(0)" class="pr_remove_image" id="<%=photo.id%>">X</a>
      <%end%>
    <%end%>
  </div>

  <input type="hidden" id="property_new_image" name="new_image">

  <br>
  <div class="actions"><center>
    <%= f.submit "#{@property.id.nil? ? 'Continue' : 'Update'}", class: "btn btn-primary property_form_sub_btn" %>&nbsp;&nbsp;&nbsp;<input class="btn btn-primary" type="reset" value="Reset"></center>
  </div><br>
<% end %>

<script>
  $(document).ready(function(){
    //Map
    var map_status = "<%= @property.id.nil? ? 'false' : 'true'%>";
    if (map_status == "true"){
      editMap("property_map", "property_address_<%=@property.id%>", "<%=@property.latitude%>","<%=@property.longitude%>")
    }else{
      initMap("property_map", "property_address_<%=@property.id%>")
    }
    
    //Image
    var inputLocalFont = document.getElementById("property_form_image");
    inputLocalFont.addEventListener("change",previewImages,false);
    function previewImages(){
      var fileList = this.files;
      var anyWindow = window.URL || window.webkitURL;
      for(var i = 0; i < fileList.length; i++){
        var objectUrl = anyWindow.createObjectURL(fileList[i]);
        $('.property-preview').append('<img id="img-'+i+'" src="' + objectUrl + '" /><a href="javascript:void(0)" class="remove_pict" id="rev-'+i+'">X</a>');
        window.URL.revokeObjectURL(fileList[i]);

        $(".remove_pict").click(function(){
          $("#img-"+this.id.split('-')[1]).remove()
          this.remove();
          var ids = $('.property-preview img').map(function(){
            return this.id;
           }).get();
          $('#property_new_image').val(ids);
        }) 
      }
    }

    //Remove image
    $('.pr_remove_image').click(function(){
      $("#pr_update_image_"+this.id).remove();
      this.remove();
      $.ajax({
        url: "/properties/remove_image",
        type: "post",
        data: { photo_id: this.id},
        success: function (response) {
          alert('Image successfully deleted');  
        }
      });
    })
  })
</script>



