<div class="row" >
  <div id="map_canvas_slide"></div>
</div>
<p> &nbsp;</p>

  <div class="container ptb">
    <div class="row">
      <div class="col-md-3">
       <!--   <div class="search-results-title">
         <i class="fa fa-search"></i> -->
          <!-- <p id="properties_count"><%#= @properties.present? ? @properties.size : 0%></p> -->
         <h2 class="searchtitle"> Filters</h2>
          <div class="clearfix"></div>
      <!--   </div> -->

        <%=render 'pages/filter'%>
      </div>

      <div class="col-md-9 effect-5 effects">
        <div class="main-switcher">
          <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-list">
            
              <h2 class="searchtitle" id="properties_count">Search Result (<%= @properties.present? ? @properties.size : 0%>)</h2>
             
              <div class="clearfix"></div>
          
            <!--Properties-->
            <div id="search_properties">
              <%=render 'pages/properties'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">
  var RANGEChange = function() {
    if (typeof properties_ids == 'undefined'){
      properties_ids = <%=@properties.collect{|p| p.id}.compact%>
    }

    var checkedValsType = $('.search_by_type:checkbox:checked').map(function() {
      return this.value;
    }).get();


    var checkedValsFacility = $('.search_by_facilities:checkbox:checked').map(function() {
      return this.value;
    }).get();

    var checkedValsRentStatus = $('.search_by_rent_status:checkbox:checked').map(function() {
      return this.value;
    }).get();

    if (checkedValsType.length > 0){
      $.ajax({
        url: "/search/serach_by_type",
        type: "POST",
        data: {types: checkedValsType, facilities: checkedValsFacility, ranges: $(this).attr('data-value'), properties_ids: properties_ids, rent_status: checkedValsRentStatus },
        beforeSend: function(msg){
         $(".search_loader").show();
        },
        success: function (response) {
          $(".search_loader").hide();
        },
        error: function(response) {
          $(".search_loader").hide(); 
        }
      }); 
    }
    else{
      alert("Please select property type");
    }
  };

  $("#rangeInfo").slider().on('slideStop', RANGEChange);

  $(document).on("click", ".search_by_type, .search_by_facilities, .search_by_rent_status, .clicker", function(){
    if (typeof properties_ids == 'undefined'){
      properties_ids = <%=@properties.collect{|p| p.id}.compact%>
    }

    var checkedValsType = $('.search_by_type:checkbox:checked').map(function() {
      return this.value;
    }).get();


    var checkedValsFacility = $('.search_by_facilities:checkbox:checked').map(function() {
      return this.value;
    }).get();

    var checkedValsRentStatus = $('.search_by_rent_status:checkbox:checked').map(function() {
      return this.value;
    }).get();

    
    if (checkedValsType.length > 0){
      $.ajax({
        url: "/search/serach_by_type",
        type: "POST",
        data: {location_by:  this.classList[1],types: checkedValsType, facilities: checkedValsFacility, properties_ids: properties_ids, rent_status: checkedValsRentStatus },
        beforeSend: function(msg){
         $(".search_loader").show();
        },
        success: function (response) {
          $(".search_loader").hide();
        },
        error: function(response) {
          $(".search_loader").hide(); 
        }
      });
    }
    else{
      alert("Please select property type")
    }

  });
    
</script>

<script type="text/javascript">
  $(window).load(function(){
    //Map
    var markers = [
      <% if  @properties.present? %>
        <% @properties.each_with_index do  |property,index| %>
          {
           address: "<%=property.address%>"
          }
          <%if index >= 0 && @properties.size != index+1 %>
            ,
          <%end%>
        <%end%>
      <%else%>
        { address: "India" }
      <%end%>  
    ];

    index_map = new google.maps.Map(map_canvas, map_options);
    <% if  @properties.present? %>
      mark_pinsIndex(markers);
    <%else%>
      index_map.setCenter(new google.maps.LatLng(20.5937, 78.9629));
    <%end%>  
  })  
</script>

