
<div class="container">
  <div class="row">
    <% @properties.each do |property|%>
      <div class="col-sm-4 col-md-4">
        <div class="post">
          <a href="<%= property_path(property)%> ">
            <div class="post-img-content">
              <img src="<%=property_photo(property)%>" />
              <span class="post-title"><b>Verified</b><br />
              <b><%= property_index_type(property) %></b></span>
            </div>
          </a>  
          <div class="content">
            <div class="author">
              By <b><%= truncate(property.try(:contact_person), length: 20) %></b> |
              <time datetime="2014-01-20"><%=property.created_at.strftime("%B %dth, %Y")%></time>
            </div>
            <div>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div>
              <a href="javascript:void(0)" class="btn btn-primary btn-sm">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    <%end%>  
  </div>
</div>
