<div class="row">
  <div class="col-md-12">
    <div style="padding:30px 0;">
      <% if @property.photos.present? %>
        <% if @property.photos.count > 1 %>
          <div id="thumbnail-slider">
            <div class="inner">
              <ul>
                <% @property.photos.each do |photo| %>
                  <li><a class="thumb" href="<%= photo.image.url %>"></a></li>
                <%end%>
              </ul>
            </div>
          </div>
        <%else%>
          <div class="col-md-10 col-md-offset-1" style="padding:30px 0;">
            <img src="<%= @property.photos.first.image.url %>" />
          </div>  
        <%end%>  
      <%else%>
        <h4><center>No Images</center></h4><br>
      <%end%>     
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div id="horizontalTab">
      <ul>
        <li><a href="#DESCRIPTION">DESCRIPTION</a></li>
        <li><a href="#FACILITIES">FACILITIES</a></li>
        <li><a href="#TYPE">PROPERTY TYPE</a></li>
        <li><a href="#Seats">Seats availability</a></li>
      </ul>

      <div id="DESCRIPTION">
        <div class="city-info-content">
          <img src="<%= @property.photos.first.try(:image).try(:url) %>" alt="" style="width:100%;"/>
        </div>
        <h3>General Description</h3>
        <p><%= @property.try(:description)%> </p>
      </div>

      <div id="FACILITIES">
        <%= property_facilities%> 
      </div>

      <div id="TYPE">
        <div class="row">
          <%@property.property_types.each do |type|%>
            <% @property_price = @property.property_prices.where(property_type_id: type.id).first %>
            <div class="col-md-12" style="box-shadow: 0 1px 3px rgba(0, 0, 0, .4); padding-bottom: 15px;padding-top: 15px;">
              <div class="col-md-4"><strong>Type:</strong> <%=type.name%></div>
              <%if @property_price.present? %>
                <%if @property_price.childrens.present?%>
                  <div class="col-md-3"><strong>No of room:</strong> <%=@property_price.try(:number_of_room)%>
                    <%@property_price.childrens.each_with_index do |child,index|%><br>
                      <strong>Capacity room <%=index+1%>:</strong> <%= best_in_place child, :seats, :as => :input, :onkeypress=> "return event.charCode >= 48 && event.charCode <= 57" %>
                    <%end%>
                  </div>
                <%else%>
                  <div class="col-md-3"><strong>Capacity:</strong> <%= best_in_place @property_price, :seats, :as => :input, :onkeypress=> "return event.charCode >= 48 && event.charCode <= 57" %> people</div> 
                <%end%>
                <div class="col-md-5">
                  <%if @property_price.hourly_price.blank? %>
                    <strong>Hourly Price:</strong> Not available <br>
                  <%else%>
                    <strong>Hourly Price:</strong> <%= best_in_place @property_price, :hourly_price, :as => :input, :classes => 'step_2_price', :required=> true  %> per person/hour <br>
                  <%end%>

                  <%if @property_price.price.blank? %>
                    <strong>Daily Price:</strong> Not available <br>
                  <%else%>
                    <strong>Daily Price:</strong> <%= best_in_place @property_price, :price, :as => :input, :classes => 'step_2_price', :required=> true  %> per person/day <br>
                  <%end%>

                  <%if @property_price.monthly_price.blank? %>
                    <strong>Monthly Price:</strong> Not available <br>
                  <%else%>
                    <strong>Monthly Price:</strong> <%= best_in_place @property_price, :monthly_price, :as => :input, :classes => 'step_2_price', :required=> true  %> per person/month
                  <%end%>
                </div> <br><br>
              <%end%>
            </div><br>    
          <%end%>
        </div> 
      </div>

      <div id="Seats">
        <div class="col-md-6 fly-check">
          <div class="form-group">
            <div class="col-md-6 box-fly-book">
              <label for="checkin">Start Date:</label>
              <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-In is from 11:00"> </div>
              <div class="content-checkin-data">
                <input type="text" value="" class="form-control checkin" placeholder="Start-Date" required="required" id="book_start_time" name="booking[start_date]"/>
              </div>
            </div>

            <div class="col-md-6 box-fly-book box-sec-book">
              <label for="checkout">End Date:</label>
              <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-out is from 12:00"> </div>
              <div class="content-checkin-data">
                <input type="text" value="" class="form-control checkout" placeholder="End-Date" required="required" id="book_end_time" name="booking[end_date]"/>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 flight-where">
          <div class="form-group">
            <div class="col-md-7 box-fly-book">
              <label for="book_type">Property type:</label>
              <select class="form-control" name="booking[book_type]" id="book_type" required="required">
                <option disabled="disabled" selected="selected">Select Property Type</option>
                <% @property.property_types.each do |type| %>
                  <option value="<%=type.name%>"><%=type.name%></option>
                <%end%>
              </select>
            </div>

            <div class="col-md-5 box-fly-book box-sec-book">
              <label for="number_of_seats_label">Available</label>
              <div class="seats_available">

              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group btn-group-justified" style="padding-bottom:15px;">
     <% if user_signed_in? %>
        <% if user_role_owner %>
          <% if @property.user == current_user%>
            <%= link_to 'Edit Property', edit_property_path(@property) ,class: "btn btn-primary"%>
          <%end%>  
        <%end%>
      <%end%>  
    </div>
    <div class="btn-group btn-group-justified">
      <%= link_to 'Book Now', book_now_property_booking_index_path(@property) ,class: "btn btn-primary" %> 
    </div>  

    <div class="details-hotel">
      <div style="text-align: center;">
        <h3><b>OPEN HOURS</b></h3>
      </div>
      <div class="more-time-details">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              From
            </div>
            <div class="col-md-4">
              To
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4 no-padding">
              <%=property_access_day%>
            </div>

            <% @count = JSON(@property.access_day).count if @property.access_day.present? %>

            <div class="col-md-4">
              <% if @count.present? %>
                <% @count.times do %>
                  <div><b><%= property_date(@property.start_date) %></b></div>
                <%end %>
              <%end%>  
            </div>

            <div class="col-md-4">
              <% if @count.present? %>
                <% @count.times do %>
                  <div><b><%= property_date(@property.end_date) %></b></div>
                <%end %>
              <%end%> 
            </div>
                
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("change keypress keyup","#book_start_time, #book_end_time, #book_type" , function(){
      var start_date = $("#book_start_time").val();
      var end_date = $("#book_end_time").val();
      var type = $("#book_type").val();

      //Check dates is filled
      if (this.id == "book_type" && (start_date == '' || end_date == '')){
        alert("Please select start and end date");
        $("#book_type option:contains('Select Property Type')").attr("selected","selected"); 
      }
      else{
        if (this.id == "book_type"){
          $.ajax({
            url: "<%=get_type_price_property_booking_index_path(@property)%>",
            data: {type: type, start_date: start_date, end_date: end_date},
            success: function(response) {
              $(".seats_available").text('')
              var res_seats = response.seats; 
              if (res_seats.length > 0){
                for (var j = 0; j < res_seats.length; j++){                
                  $(".seats_available").append("Room - "+(j+1)+": " +res_seats[j]+"<br>") ;
                } 
              }
              else{
                if(response.remaining_seats == 0){
                  alert("Seats not available for this type");
                }else{
                  $(".seats_available").text(response.remaining_seats)
                }     
              }  
            }
          });
        }//end book_type
      }

    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $(".checkin").datepicker({
      showAnim: "drop",
      numberOfMonths:2,
      defaultDate: new Date(),
      dateFormat: 'dd/mm/yy',
      minDate: "-0D",
      onSelect: function (date) {
        var checkout = $('.checkout');
        var startDate = $(this).datepicker('getDate');
        var minDate = $(this).datepicker('getDate');
        checkout.datepicker('setDate', minDate);
        startDate.setDate(startDate.getDate() + 30);
        checkout.datepicker('option', 'maxDate', startDate);
        checkout.datepicker('option', 'minDate', minDate);
        $(this).datepicker('option', 'minDate', minDate);
      }
    });

    $(".checkout").datepicker({
      showAnim: "drop",
      numberOfMonths:2,
      defaultDate: new Date(),
      dateFormat: 'dd/mm/yy',
      minDate: "-0D"
    })

    $(document).on("focus",".checkin, .checkout", function() {$(this).blur()});
  });
</script>