<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="stepwizard">
      <div class="stepwizard-row">
        <div class="stepwizard-step">
          <%= button_to "1", edit_property_path(@property), :class => "btn btn-default btn-circle", :method => :get%>
          <p>Update Property</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-primary btn-circle">2</button>
          <p>Add seats</p>
        </div>
      </div><br>
    </div>

    
    <% if @property.property_types.present? %>
      <%= form_tag create_step_2_property_path(@property) do %>
        <table class="table">
          <thead>
            <tr>
              <th>Property type</th>
              <th>Number Of Seats </th>
              <th>Price</th>
            </tr>
          </thead>  
          <tbody>
            <% @property.property_types.each do |type|%>
              <tr>
                <td><%=type.name%></td>
                <%if type.name.eql?('Meeting/Conference Room')%>
                  <td>
                    <select name="number_of_room" id="<%=type.id%>" class="form-control create_number_of_rooms" required>
                      <option value="" disabled="disabled" selected="selected">No of rooms</option>
                      <%rooms = property_type_price(type.id,"rooms") %>

                      <%4.times do |number|%>
                        <option value="<%=number+1%>" <%="selected" if rooms ==number+1 %> ><%=number+1%></option>
                      <%end%>  

                    </select>
                    <table class="table"> 
                      <tbody id="meeting_room_inputs">
                        <%= property_meeting_children(type.id)%>
                      </tbody>
                    </table>
                  </td>
                <%else%>
                  <td><input type="text" class="form-control" placeholder="Enter seats" required="required" name="seats[<%= type.id %>]" value="<%=property_type_price(type.id,"seats")%>" onkeypress= "return event.charCode >= 48 && event.charCode <= 57"></td>
                <%end%>
                <td><input type="text" class="form-control step_2_price" placeholder="Enter price per seat" required="required" name="price[<%=type.id %>]" value="<%=property_type_price(type.id)%>"></td>
              </tr>
            <%end%>
            <tr>
              <td colspan="3" align="center"><input type="submit" class="btn btn-primary" value="Continue"></td>
            </tr>
          </tbody> 
        </table>  
      <%end%>  
    <%else%>
      <h4>Property type not present</h4>
    <%end%>  
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("change",".create_number_of_rooms",function(){
      var value;
      var rows = $("#meeting_room_inputs tr");
      $("#meeting_room_inputs").empty();
      var number = parseInt($(this).val());
      for(var i = 0; i < number; i++) {
        if (rows.find('.form-control')[i]){
          value = rows.find('.form-control')[i].value;
        }
        else{
          value = ''
        }
        var inpt = $('<tr><td>'+(i+1)+'</td><td><input type="text" class="form-control" placeholder="Enter seats" required="required" name="room['+(i+1)+']" value="'+value+'" onkeypress= "return event.charCode >= 48 && event.charCode <= 57"></td></tr>');

        $("#meeting_room_inputs").append(inpt);
      }
    })
  })
</script>
