<div class="header">
  <div class="fixed-header">
    <div class="navbar-wrapper">
      <div class="container-fluid side-margin">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="logo wow slideInLeft" data-wow-delay="0.3s"> <a class="navbar-brand" href="<%=root_path%>"><img src="/assets/ivs_logo.png" /></a> </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <nav class="cl-effect-16" id="cl-effect-16">
              <ul class="nav navbar-nav">
                <% if user_signed_in? && user_role_owner || !user_signed_in? %>
                  <li><a class="active" href="<%=partner_index_path%>" data-hover="Home">Become a partner</a></li>
                <%end%>  
                <li><a href="http://ivssocial.com/" data-hover="About" target="_blank">IVS Social</a></li>
                <% unless user_signed_in? %>
                  <li class="weather"><a data-toggle="modal" data-target="#loginModal">Login</a></li>
                <%end%>

                <li style="cursor: pointer; margin-left: 15px;">
                  <% if user_signed_in? %>
                    <%if current_user.photo.present? %>
                      <img src="<%=current_user.photo.present? ? current_user.photo.url : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown" width="45px;" height="36px;">
                    <%else%>
                      <img src="<%=current_user.profile_image.present? ? current_user.profile_image : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown" width="45px;" height="36px;">
                    <%end%>  
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu header_drop_box">
                      <li><a href="<%=myprofile_dashboard_index_path%>"><%= "My Profile (#{ user_role_owner ? 'Owner' : 'Client'})" %></a></li>
                      <% if user_role_owner %>
                        <li><a href="<%=new_property_path%>">Add Workspace</a></li>
                        <li><a href="<%=my_property_dashboard_index_path%>">My Properties</a></li>
                        <li><a href="<%=my_earning_dashboard_index_path%>">My Earning</a></li>
                      <%end%>
                      <li><a href="<%=booking_dashboard_index_path%>">My Booking</a></li>
                      <li><a href="<%=mypayments_dashboard_index_path%>">My Payments</a></li>
                      <li><a href="<%=changepassword_dashboard_index_path%>">Change Password</a></li>
                      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  <%end%>
                </li>
              </ul>
            </nav>
          </div>
          <div class="clearfix"> </div>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--header end here-->

<%=render 'shared/login' %>
