<section>
  <div class="top-mega-menu">
    <div class="container">
      <!-- mega menu -->
      <ul class="travel-mega-menu travel-mega-menu-anim-scale travel-mega-menu-response-to-icons">
        <li class="line-logo">
          <a class="logo" href="<%=root_path%>"><img src="/assets/logo.jpg" alt=""/></a>
        </li>
        
        <% unless user_signed_in? %>
          <li class="weather">
            <a data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i>Login</a>
          </li>
        <%end%>

        <li style="width:6%;">
          <% if user_signed_in? %>
            <img src="<%=current_user.profile_image.present? ? current_user.profile_image : '/assets/user.png'%>" class="img-circle dropdown-toggle" alt="Cinque Terre" data-toggle="dropdown">

            <span class="caret"></span></button>
            <ul class="dropdown-menu" style="background-color: #fff">
              <li><a href="<%=myprofile_dashboard_index_path%>"><%= "My Profile (#{ user_role_owner ? 'Owner' : 'Clinet'})" %></a></li>
              <% if user_role_owner %>
                <li><a href="<%=new_property_path%>">Add Workspace</a></li>
                <li><a href="<%=my_property_dashboard_index_path%>">My Properties</a></li>
                <li><a href="<%=my_earning_dashboard_index_path%>">My Earning</a></li>
              <%end%>
              <li><a href="<%=booking_dashboard_index_path%>">My Booking</a></li>
              <li><a href="<%=mypayments_dashboard_index_path%>">My Payments</a></li>
              <li><a href="<%=changepassword_dashboard_index_path%>">Change Password</a></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</section>  

<%=render 'shared/login' %>
