<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img src="/assets/new_homepage/slider1.png" style="width:100%" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place.</p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="/assets/new_homepage/slider1.png" style="width:100%" data-src="" alt="Second    slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place. </p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="/assets/new_homepage/slider1.png" style="width:100%" data-src="" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</b></h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-list-box">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div  class="inner-bg">
        <form method="get" action="<%=properties_path%>">
          <div class="col-md-3 col-sm-3 padd-right">
            <label>Location</label>
              <input type="text" placeholder="Enter your desire locality" id="search_desire" name="desire_location">
            </input>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label>City</label>
            <div class="styled-select blue semi-square home_index_slider">
              <select name="search_city" id="search_city">
                <option class="opt-default" selected="selected" disabled="disabled">Select City</option>
                <option label="Delhi" value="Delhi">Delhi</option>
                <option label="Indore" value="Indore">Indore</option>
                <option label="Bhopal" value="Bhopal">Bhopal</option>
                <option label="Chennai" value="Chennai">Chennai</option>
                <option label="Bangalore" value="Bangalore">Bangalore</option>
                <option label="Mumbai" value="Mumbai">Mumbai</option>
                <option label="Pune" value="Pune">Pune</option>
              </select>
            </div>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label>Office Type</label>
            <div >
              <div >
                <select class="multiselect-ui form-control" name="search_office_type[]" id="dates-field2" multiple="" required="required">
                  <% PropertyType.all.each do |type| %>
                    <option value="<%=type.name%>"><%=type.name%></option>
                  <%end%>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label class="display">&nbsp;</label>
            <div class="col-md-6 home_index_search_left"><button type="submit" class="search-btn">Search</button></div>
            <input type="hidden" id="near_me" name="near_me" value="" />
            <div class="col-md-6 home_index_search_right"><button type="submit" class="search-btn" id="search_near_me">Near me</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--information start here-->
<div class="information">
  <h2 class="text-center">WHY IVS <span>OFFICES</span></h2>
  <hr>
  <div class="container-fluid side-margin">
    <div class="information-main">
      <div class="information-grid five-star wow slideInLeft col-md-6 col-md-offset-1" data-wow-delay="0.2s">
        <div class="col-md-6 col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-map-marker location" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>Multiple Locations</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-coffee" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>Free Tea and Coffee</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-wifi" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>Free WiFi</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6  hotel-info">
          <div class="info-left"> <i class="fa fa-user" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>Flexible Occupancy</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-mobile app" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>IVS App</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-battery-half" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>24/7 AC & power backup</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-users user" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>IVS Social Online Community</h4>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 hotel-info">
          <div class="info-left"> <i class="fa fa-cog cog" aria-hidden="true"></i> </div>
          <div class="info-right">
            <h4>Benefit from IVS brand</h4>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="information-grid wow slideInRight col-md-4" data-wow-delay="0.2s"> <img src="/assets/new_homepage/about.png" width="100%" ></div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--information end here--> 
<!--leaves start here-->
<div class="information">
  <div class="leaves">
    <div class="container-fluid side-margin">
      <div class="leaves-main wow zoomIn" data-wow-delay="0.3s">
        <h2>Free IVS <span>Social Memberships</span></h2>
        <hr>
        <div class="services-box">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/1.png" class="img-responsive" alt=""> </div>
                <h4>Community of  Entrepreneurs</h4>
                <p><!-- A virtual community for entrepreneurs to share their ideas and find like-minded people to network and work along. --> The IVS Social membership allows you to build connections in startup world with different stakeholders helping you to grow your idea into a successful business.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/2.png" class="img-responsive" alt=""> </div>
                <h4>Investor Meetups</h4>
                <p>Once part of the Indus Valley startup group you would be able to connect with investors for validating and investing in your idea or venture. <!-- The platform provides you with opportunities by way of building connections -->.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid last-box">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/3.png" class="img-responsive" alt=""> </div>
                <h4>Startup events</h4>
                <p>Connected on IVS Social would enable you to keep up-to- date with the events happening at all IVS Offices.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>
          </div>

          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/4.png" class="img-responsive" alt=""> </div>
                <h4>Exchange Skills</h4>
                <p>It is always useful to have a platform where you can find skilled resources. You can find and connect with people who can help in your project.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/5.png" class="img-responsive" alt=""> </div>
                <h4>Dedicated Groups</h4>
                <p>A unique platform where you would be able to create and join groups which can help in your personal and organization growth.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid last-box">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/6.png" class="img-responsive" alt=""> </div>
                <h4>Find Beta Customers</h4>
                <p>The community helps you find the initial set of customers to validate your MVP.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--leaves end here--> 
  
  <!--swiming-->
  <div class="swimming">
    <div class="container">
      <div class="swimming-main wow zoomIn" data-wow-delay="0.3s">
        <div class="swimming-top">
          <h2>Make Your Projects Succeed With IVS Offices</h2>
          <hr>
        </div>
        <div class="swimmimg-bot">
          <div class="col-md-3 swimming-grid"> <span ><i class="fa fa-search" aria-hidden="true"></i> </span>
            <h5>SEARCH US</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-globe" aria-hidden="true"></i> </span>
            <h5>FIND LOCATION</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-usd" aria-hidden="true"></i></span>
            <h5>PAY</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-handshake-o" aria-hidden="true"></i> </span>
            <h5>START WORKING</h5>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--swimmg emd here--> 
  <!--homegrids start here-->
  <% if @properites.present? && @properites.size > 2 %>
    <div class="home-block">
      <div class="container">
        <div class="home-main">
          <div class="home-top">
            <h2>THE BEST <span>LOCATIONS</span></h2>
            <hr>
          </div>
          <div class="demo">
            <div >
              <div class="row">
                <div class="col-md-12">
                  <%if @properites.present? %>
                    <div id="news-slider" class="owl-carousel">
                      <% @properites.take(6).each do |property|%>
                        <div class="post-slide">
                          <div class="post-img"> 
                            <a href="<%=property_path(property)%>"><img src="<%=property.try(:photos).first.try(:image).url%>" alt=""/></a>
                            <div class="city"><%=property.try(:address)%></div>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title"><a href="<%=property_path(property)%>"><%=truncate(property.try(:name),length: 25)%></a></h3>
                            <p class="post-description"> <%=property.try(:description)%> </p>
                            <h4><span>From</span>RS <%=property.try(:property_prices).first.price%></h4>
                            <ul class="post-bar">
                              <%facilities = Facility.where(id: JSON(property.facilities))%>
                              <%facilities.each do |facility|%> 
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i> <%=facility.try(:name)%></li>
                              <%end%>
                            </ul>
                            <div class="clearfix"></div>
                            <center>
                              <a href="<%=property_path(property)%>" class="read-more">read more</a>
                            </center>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
<!--home grid end here--> 

<script type="text/javascript">
  $(document).ready(function() {
    $("#news-slider").owlCarousel({
      items:3,
      itemsDesktop:[1199,2],
      itemsDesktopSmall:[980,2],
      itemsMobile:[600,1],
      pagination:false,
      navigationText:false,
      autoPlay:true
    });
    
    $('.multiselect-ui').multiselect({
      includeSelectAllOption: true,
      numberDisplayed: 1
    });
    new WOW().init();
  });
</script>



<style type="text/css">
  .multiselect-container .checkbox{
    color: #333 !important;
  }
</style>