<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->
  <div class="carousel-inner">
    <div class="item active"> <img src="/assets/new_homepage/slider1.png" style="width:100%;    filter: brightness(60%);" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place.</p>
        </div>
      </div>
    </div>
   <!--  <div class="item"> <img src="/assets/new_homepage/slider1.png" style="width:100%" data-src="" alt="Second    slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place. </p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="/assets/new_homepage/slider1.png" style="width:100%" data-src="" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Offices With Culture</b></h1>
          <p>Coworking, Community, Sharing!!! Come And Work At A Happy Place.</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="search-list-box">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div  class="inner-bg">
        <form method="get" action="<%=properties_path%>">
          <div class="col-md-3 col-sm-3 padd-right">
            <label>Location</label>
              <input type="text" placeholder="Enter your desire locality" id="search_desire" name="desire_location">
            </input>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label>City</label>
            <div class="styled-select blue semi-square home_index_slider">
              <select name="search_city" id="search_city">
                <option class="opt-default" selected="selected" disabled="disabled">Select City</option>
                <option label="Delhi" value="Delhi">Delhi</option>
                <!-- <option label="Indore" value="Indore">Indore</option>
                <option label="Bhopal" value="Bhopal">Bhopal</option>
                <option label="Chennai" value="Chennai">Chennai</option>
                <option label="Bangalore" value="Bangalore">Bangalore</option>
                <option label="Mumbai" value="Mumbai">Mumbai</option> -->
                <option label="Noida" value="Noida">Noida</option>
                <option label="Gurgaon" value="Gurgaon">Gurgaon</option>
              </select>
            </div>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label>Office Type</label>
            <div >
              <div >
                <select class="multiselect-ui form-control" name="search_office_type[]" id="dates-field2" multiple="" required="required">
                  <% PropertyType.all.each do |type| %>
                    <option value="<%=type.name%>"><%=type.name%></option>
                  <%end%>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3  col-sm-3 padd-right">
            <label class="display">&nbsp;</label>
            <div class="col-md-6 home_index_search_left"><button type="submit" class="search-btn">Search</button></div>
            <input type="hidden" id="near_me" name="near_me" value="" />
            <div class="col-md-6 home_index_search_right"><button type="submit" class="search-btn" id="search_near_me">Near me</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="information">
  <h2 class="text-center">WHY ABOARD <span>OFFICES</span></h2><hr>
  <div id="services-section">
    <div class="container">
      <div class="services">
        <div class="services-boxes">
          <div class="row">
            <div class="col-sm-4 services-bb-rb">
              <div class="services-post" data-animation="fadeInLeft" data-delay="0">
                <span class="services-icon"><i class="fa fa-map-marker location" aria-hidden="true"></i></span>
                <h5>Multiple Locations</h5>
                <p>Work at a convenient place by choosing from multiple IVS Offices locations.</p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 -->
            <div class="col-sm-4 services-bb-rb">
              <div class="services-post" data-animation="fadeInUp" data-delay="0">
                <span class="services-icon"><i class="fa fa-wifi" aria-hidden="true"></i></span>
                <h5>Free WiFi</h5>
                <p>All our members get free access to internet included in their membership fees.</p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 --> 
            <div class="col-sm-4 services-bb">
              <div class="services-post" data-animation="fadeInRight" data-delay="0">
                <span class="services-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <h5>Flexible Occupancy</h5>
                <p>Now work as per your terms whether it is for an hour or for a year. Use what you pay for.</p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 -->
            <div class="col-sm-4 services-rb">
              <div class="services-post" data-animation="fadeInLeft" data-delay="0">
                <span class="services-icon"><i class="fa fa-mobile app" aria-hidden="true"></i></span>
                <h5>Aboard App</h5>
                <p>An application designed for your convenience so that you utilize our services in realtime.</p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 -->    
            <div class="col-sm-4 services-rb">
              <div class="services-post" data-animation="fadeInUp" data-delay="0">
                <span class="services-icon"><i class="fa fa-battery-half" aria-hidden="true"></i></span>
                <h5>24/7 AC & power backup</h5>
                <p>All our offices locations comes with 24 hour power back so that your work never stops.</p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 -->
            <div class="col-sm-4">
              <div class="services-post" data-animation="fadeInRight" data-delay="0">
                <span class="services-icon"><i class="fa fa-users user" aria-hidden="true"></i></span>
                <h5>Aboard Social Online Community</h5>
                <p>Become a member and get hooked to IVS social, a platform which enables you to get connected to startup community members </p>
              </div>
              <!-- end services-post -->
            </div>
            <!-- end col-sm-4 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end services-boxes -->
      </div>
      <!-- End services -->
    </div>
    <!-- end container -->
  </div>
</div>



<div class="information">
  <div class="leaves">
    <div class="container-fluid side-margin">
      <div class="leaves-main wow zoomIn" data-wow-delay="0.3s">
        <h2>Free Aboard <span>Social Memberships</span></h2>
        <hr>
        <div class="services-box">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/1.png" class="img-responsive" alt=""> </div>
                <h4>Community of  Entrepreneurs</h4>
                <p><!-- A virtual community for entrepreneurs to share their ideas and find like-minded people to network and work along. --> The Aboard Social membership allows you to build connections in startup world with different stakeholders helping you to grow your idea into a successful business.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/2.png" class="img-responsive" alt=""> </div>
                <h4>Investor Meetups</h4>
                <p>Once part of the Indus Valley startup group you would be able to connect with investors for validating and investing in your idea or venture. <!-- The platform provides you with opportunities by way of building connections -->.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid last-box">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/3.png" class="img-responsive" alt=""> </div>
                <h4>Startup events</h4>
                <p>Connected on Aboard Social would enable you to keep up-to- date with the events happening at all Aboard Offices.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>
          </div>

          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/4.png" class="img-responsive" alt=""> </div>
                <h4>Exchange Skills</h4>
                <p>It is always useful to have a platform where you can find skilled resources. You can find and connect with people who can help in your project.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/5.png" class="img-responsive" alt=""> </div>
                <h4>Dedicated Groups</h4>
                <p>A unique platform where you would be able to create and join groups which can help in your personal and organization growth.</p>
                <!-- <a href="#">Read More</a> --> </div>
            </div>

            <div class="col-md-4 home-grid last-box">
              <div class="item item-type-move">
                <div class="item-img"> <img src="/assets/new_homepage/6.png" class="img-responsive" alt=""> </div>
                <h4>Find Beta Customers</h4>
                <p>The community helps you find the initial set of customers to validate your MVP.</p>
                <!-- <a href="#">Read More</a>  --></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--leaves end here--> 
  
  <!--swiming-->
  <div class="swimming">
    <div class="container">
      <div class="swimming-main wow zoomIn" data-wow-delay="0.3s">
        <div class="swimming-top">
          <h2>Make Your Projects Succeed With Aboard Offices</h2>
          <hr>
        </div>
        <div class="swimmimg-bot">
          <div class="col-md-3 swimming-grid"> <span ><i class="fa fa-search" aria-hidden="true"></i> </span>
            <h5>SEARCH US</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-globe" aria-hidden="true"></i> </span>
            <h5>FIND LOCATION</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-usd" aria-hidden="true"></i></span>
            <h5>PAY</h5>
          </div>
          <div class="col-md-3 swimming-grid"> <span > <i class="fa fa-handshake-o" aria-hidden="true"></i> </span>
            <h5>START WORKING</h5>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--swimmg emd here--> 
  <!--homegrids start here-->
  <% if @properites.present? && @properites.size > 2 %>
    <div class="home-block">
      <div class="container">
        <div class="home-main">
          <div class="home-top">
            <h2>THE BEST <span>LOCATIONS</span></h2>
            <hr>
          </div>
          <div class="demo">
            <div >
              <div class="row">
                <div class="col-md-12">
                  <%if @properites.present? %>
                    <div id="news-slider" class="owl-carousel">
                      <% @properites.take(6).each do |property|%>
                        <div class="post-slide">
                          <div class="post-img"> 
                            <a href="<%=property_path(property)%>"><img src="<%=property.try(:photos).first.try(:image).url%>" alt=""/></a>
                            <div class="city"><%=property.try(:address)%></div>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title"><a href="<%=property_path(property)%>"><%=truncate(property.try(:name),length: 25)%></a></h3>
                            <p class="post-description"> <%=property.try(:description)%> </p>
                            <h4><span>From</span>RS <%=property.try(:property_prices).first.price%></h4>
                            <ul class="post-bar">
                              <%facilities = Facility.where(id: JSON(property.facilities))%>
                              <%facilities.each do |facility|%> 
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i> <%=facility.try(:name)%></li>
                              <%end%>
                            </ul>
                            <div class="clearfix"></div>
                            <center>
                              <a href="<%=property_path(property)%>" class="read-more">read more</a>
                            </center>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
<!--home grid end here--> 

<!--information start here-->
<div class="information">
  <footer class="footer-container-v2">
    <div class="footer-partner-row">
      <img class="partner-illustration" src="/assets/partner/become_a_partner.jpg" alt="">
      <div class="col-title">
        Become a partner
      </div>
      <div class="footer-col-description">
        If you are a commercial office space owner then partner with us without any  investment and genrate higher returns from your property.
      </div>
      <a href="/partner" class="footer-col-button"> Know More</a>
    </div>
  </footer>  
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#news-slider").owlCarousel({
      items:3,
      itemsDesktop:[1199,2],
      itemsDesktopSmall:[980,2],
      itemsMobile:[600,1],
      pagination:false,
      navigationText:false,
      autoPlay:true
    });
    
    $('.multiselect-ui').multiselect({
      includeSelectAllOption: true,
      numberDisplayed: 1
    });
    new WOW().init();
  });
</script>


<style type="text/css">
  .multiselect-container .checkbox{
    color: #333 !important;
  }
</style>

<style type="text/css">
  .footer-partner-row {
    width: 50%;
    margin: 2em auto;
    clear: both;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 50px;
  }

  .footer-container-v2 .footer-partner-row .partner-illustration {
    max-width: 55%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .footer-container-v2 .footer-partner-row .col-title {
    padding-bottom: 10px;
    color: #00C3AF;
    font-size: 22px;
    padding-top: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 13px;
  }


  .footer-container-v2 .footer-partner-row .footer-col-description {
    margin: auto;
    font-size: 15px;
    padding: 0px 0px 17px;
  }

  .footer-col-button{
    color: #fff;
    background: #00C3AF;
    overflow: hidden;
    padding: 7px 15px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #00C3AF;
    font-weight: bold;
    font-size: 17px;
    line-height: normal;
    margin-top: 8px;
    display: inline-block;
  }

  .footer-col-button:hover{
    color: #00C3AF;
    background: #fff;
  }

  .search_city:focus{
    border: 1px solid green;
  }
</style>

<style type="text/css">
  #services-section {
  padding: 80px 0;
  }

  .services-post {
    text-align: center;
    padding: 58px 10px;
  }

  .services-post h5 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: rgb(37, 37, 37);
    text-transform: uppercase;
    margin: 15px 0;
  }

  .services-post p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin: 0px;

    font-size: 14px;
    
    color: rgb(129, 129, 129);
  }

  span.services-icon {
    display: inline-block;
    color: #00C3AF;
    font-size: 36px;
  }

  .title-section {
    margin-bottom: 80px;
    text-align: center;
    opacity:none;
  }

  .title-action h3 {
    color: #0E9692;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  .title-action p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0px auto;
    width: 70%;
  }

  /*@media (min-width: 768px){
    .services-bb-rb {
        border-bottom: 1px solid #eee!important;
        border-right: 1px solid #eee;
        height: 297px;
    }
  }
  
  @media (min-width: 768px){
    .services-bb {
        border-bottom: 1px solid #eee;
    }
  }

  @media (min-width: 768px){
    .services-rb {
        border-right: 1px solid #eee;
    }
  }*/
</style>