<section class="ac-container">
  <div id="map_canvas_slide"></div><br>

  <h3 class="desc-filter">Save time with filters:</h3>
  <div>
    <input id="ac-4" name="accordion-1" type="checkbox" checked/>
    <label for="ac-4">Property type <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-large">
      <% PropertyType.all.each do |a_value| %>
          <% @count = @types_count.select{|key,val| val if a_value.name.eql?(key)} %>
          <div class="meals-trip">
          <p><input class="fa-check-square-o search_by_type" type="checkbox" name="tyeps[]" value="<%=a_value.name%>" style="display: block"><%=a_value.try(:name)%> <span class="p_type_id_<%=a_value.id%>">(<%=@count.present? ? @count.values[0] : 0 %>)</span></p>
        </div>
        </label>
      <% end %>
    </article>
  </div>

  <div>
    <input id="ac-1" name="accordion-1" type="checkbox" />
    <label for="ac-1">Price range <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-small">
      <div style="padding: 38px">
        <b>1</b> <input id="rangeInfo" type="text" class="span2" value="" data-slider-min="1" data-slider-max="500" data-slider-step="2" data-slider-value="[50,200]"/> <b>500</b>
      </div>  
    </article>
  </div>

  <div>
    <input id="ac-5" name="accordion-1" type="checkbox" />
    <label for="ac-5">Facility <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-large">

      <% Facility.all.each do |a_value| %>
        <div class="meals-trip">
         <p><input class="fa-check-square-o search_by_facilities" type="checkbox" name="facilities[]" value="<%=a_value.name%>" style="display: block"></i><%= a_value.try(:name) %> (1458)</p>
        </div>
      <% end %>

    </article>
  </div>
</section>


