<section class="ac-container">
  <div id="map_canvas_slide"></div><br>

  <h3 class="desc-filter">Save time with filters:</h3>
  <div>
    <input id="ac-4" name="accordion-1" type="checkbox" checked/>
    <label for="ac-4">Property type <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-large">
      <% PropertyType.all.each do |a_value| %>
          <% @type_count = @types_count.select{|key,val| val if a_value.name.eql?(key)} %>

          <%checked_status = params[:search_office_type].include?(a_value.name)%>
          <div class="meals-trip">
          <p><input class="fa-check-square-o search_by_type" type="checkbox" name="tyeps[]" value="<%=a_value.name%>" style="display: block" <%= "checked" if checked_status.eql?(true) %>><%=a_value.try(:name)%> <span class="p_type_id_<%=a_value.id%>">(<%=@type_count.present? ? @type_count.values[0] : 0 %>)</span></p>
        </div>
        </label>
      <% end %>
    </article>
  </div>

  <div>
    <input id="ac-1" name="accordion-1" type="checkbox" />
    <label for="ac-1">Price range <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-small">
      <div style="padding: 38px">
        <b>1</b> <input id="rangeInfo" type="text" class="span2" value="" data-slider-min="1" data-slider-max="<%=property_max_price%>" data-slider-step="2" data-slider-value="[50,500]"/> <b><%=property_max_price%></b>
      </div>  
    </article>
  </div>

  <div>
    <input id="ac-5" name="accordion-1" type="checkbox" />
    <label for="ac-5">Facility <i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></label>
    <article class="ac-large">

      <% Facility.all.each do |a_value| %>

        <% @facility_count = Property.search a_value.name, where: {id: @properties.map(&:id).uniq}  %>

        <div class="meals-trip">
         <p><input class="fa-check-square-o search_by_facilities" type="checkbox" name="facilities[]" value="<%=a_value.name%>" style="display: block"></i><%= a_value.try(:name) %> <span class="p_facility_id_<%=a_value.id%>">(<%=@facility_count.present? ? @facility_count.count : 0 %>)</span></p>
        </div>
      <% end %>

    </article>
  </div>
</section>


