<ul id="Grid" class="sandbox">
  <div class="search_loader">
    <img src="/assets/new_loader.gif" />
  </div>

  <% if @properties.present? %>
    <% @properties.each do |property|%>
      <li class="mix category-1" data-value="1250" style="display: inline-block;">
        <figure>
          <div class="cbp-vm-image img">
            <img src="<%=property_photo(property)%>" alt="img01"/>
            <div class="overlay">
              <%= link_to "+", property_path(property), :"data-no-turbolink" => false, :class=>"expand", :target=>"_blank" %>
              <a class="close-overlay hidden">x</a>
            </div>
          </div>
          <figcaption>
            <h3><%= truncate(property.try(:name), length: 15) %></h3>
            
            <div class="clear"></div>
            <p><%=truncate(property.try(:description),length: 75)%></p>
            <%=property_seats_price(property)%>
            <a href="<%=property_path(property)%>" class="btn btn-primary btn-gallery">Read More</a>
          </figcaption>
        </figure>
      </li>
    <%end%>  
  <%else%>
    <h2>Not Match</h2>
  <%end%>
</ul>    




