<ul id="Grid" class="sandbox">
  <div class="search_loader">
    <img src="/assets/new_loader.gif" />
  </div>

  <% if @properties.present? %>
    <% @properties.each do |property|%>
      <li class="mix category-1" data-value="1250" style="display: inline-block;">
        <figure>
          <div class="cbp-vm-image img">
            <img src="<%=property_photo(property)%>" alt="img01"/>
            <div class="clearfix"></div>
            <a href="<%=book_now_property_booking_index_path(property)%>" class="btn btn-primary " style="width:100%;" target="_blank">Book now</a>
            <div class="overlay">
              <%= link_to "", property_path(property), :"data-no-turbolink" => false, :class=>"expand fa fa-eye", :target=>"_blank" %>
            </div>
          </div>

          <figcaption>

          <div class="">
            <div class="col-md-4">
              <h3><%= truncate(property.try(:name), length:20) %></h3>
              <p><%= truncate(property.try(:description), length: 70) %></p>  

              <div id="FACILITIES">
                <%= property_facilities_on_index(property)%> 
              </div>
            </div>

            <div class="col-md-8">
              <div class="show-content" id="property_<%=property.id%>">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Property type</th>
                      <th>Unit</th>
                      <th>Price (Hourly/Daily/Monthly)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%property.property_types.each do |type|%>
                      <%property_price = property.property_prices.where(property_type_id: type.id).first%>
                      <%if params[:search_office_type] &&  params[:search_office_type].include?(type.name)%>
                        <tr>
                          <td><%=type.name%></td>
                          <%if type.name.eql?('Meeting/Conference Room') || type.name.eql?('Training Room') || type.name.eql?('Team Room') %>
                            <td><%=property_price.try(:number_of_room)%>-Room</td>
                          <%else%>
                            <td><%=property_price.try(:seats)%></td>
                          <%end%>

                          <td><i class="fa fa-inr price-color">

                          <%if property_price.try(:hourly_price).blank? %>
                           NA/
                          <%else%>
                            <%= property_price.try(:hourly_price)%>/
                          <%end%>

                          <%if property_price.try(:price).blank? %>
                            NA/
                          <%else%>
                            <%= property_price.try(:price)%>/
                          <%end%>

                          <%if property_price.try(:monthly_price).blank? %>
                            NA/
                          <%else%>
                            <%=property_price.try(:monthly_price)%> /
                          <%end%>

                          </i></td>
                          
                        </tr>
                      <%end%>
                    <%end%>
                  </tbody>
                </table>
              </div> 

            </div>
          </div>
          </figcaption>
        </figure>
      </li>
    <%end%>  
  <%else%>
    <h2>Property not found</h2>
  <%end%>
</ul>    
