<div class="container">
  <div class="row">
    <center><h2>Book your property</h2></center>
    <div id="reservation-form" class="col-md-8 col-md-offset-2 reservation-color-form  resv-plus-meteo">
      <%= form_tag property_booking_index_path(@property), class: "form-inline reservation-flight" do %>
        <div class="row">
          <div class="col-sm-4 flight-where">
            <div class="form-group">
              <h3><span>01</span> Who</h3>
              <div class="col-md-6 box-fly-book">
                <label for="name">Name*:</label>
                <input type="text" class="form-control" placeholder="Enter your name"  name="booking[name]" required="required">

              </div>
              <div class="col-md-6 box-fly-book box-sec-book">
                <label for="phone">Phone*:</label>
                <input type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Enter 10 digit Mobile Number" name="booking[phone]" required="required">
              </div>
            </div>
          </div>

          <div class="col-sm-4 flight-where">
            <div class="form-group">
              <h3><span>02</span> Seats</h3>
              <div class="col-md-6 box-fly-book">
                <label for="book_type">Property type*:</label>
                <select class="form-control" name="booking[book_type]" id="book_type" required="required">
                  <option disabled="disabled" selected="selected">Select Property Type</option>
                  <% @property.property_types.each do |type| %>
                    <option value="<%=type.name%>"><%=type.name%></option>
                  <%end%>
                </select>
              </div>
              <div class="col-md-6 box-fly-book box-sec-book">
                <label for="number_of_seats_label">Number of Seats*:</label>
                <select class="form-control" name="booking[seats][]" id="book_seats" required="required">
                   <option value="" disabled="disabled" selected="selected">No of seats</option>
                  <% 10.times.each do |number| %>
                    <option value="<%=number+1%>"><%=number+1%></option>
                  <%end%>
                </select>

              </div>
            </div>
          </div>

          <div class="col-sm-2 fly-check">
            <h3><span>03</span> When?</h3>
            <div class="form-group">
              <div class="col-md-6 box-fly-book">
                <label for="checkin">Start Date*:</label>
                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-In is from 11:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>
                <div class="content-checkin-data">
                  <i class="fa fa-calendar infield infieldfly1"></i>
                  <input type="text" value="" class="form-control checkin" placeholder="Check-in" required="required" id="book_start_time" name="booking[start_date]"/>
                </div>
              </div>

              <div class="col-md-6 box-fly-book box-sec-book">
                <label for="checkout">End Date*:</label>
                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-out is from 12:00"> <i class="fa fa-info-circle fa-lg"> </i> </div>
                <div class="content-checkin-data">
                  <i class="fa fa-calendar infield infieldfly2"></i>
                  <input type="text" value="" class="form-control checkout" placeholder="Check-out" required="required" id="book_end_time" name="booking[end_date]"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 flight-where" style="margin-top: 11px;">
            <div class="form-group">
              <div class="col-md-12 box-fly-book">
                <center>
                <span style="font-size: 2.5rem;font-weight: bold;"><i class="fa fa-inr"></i><span class="total_price"> </span></span></center>
              </div>
            </div>
          </div>

          <div class="col-sm-2 colbtn">
            <input type="hidden" name="booking[total_amount]" value="" id="book_total_amount"/>
            <button type="submit" class="btn btn-primary btn-block">Book Now</button>
          </div>
        </div>
      <%end%> 
    </div>
  </div>
</div>
      
<script type="text/javascript">
  $(document).ready(function(){

   //var booked_start_dates  = ["13-12-2016", "15-12-2016",];
   

   var booked_start_dates = <%= raw Booking.all.map{|b| b.start_date.strftime("%d-%m-%Y").to_s}.compact%> 

   var booked_end_dates = <%= raw Booking.all.map{|b| b.end_date.strftime("%d-%m-%Y").to_s}.compact%> 

    function booked_dates(date) {
      
      dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      if ($.inArray(dmy, booked_start_dates) == -1) {
        return [true, ""];
      } else {
        return [false, "", "Unavailable"];
      }
    }

    function booked_dates_end(date) {
      dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
      if ($.inArray(dmy, booked_end_dates) == -1) {
        return [true, ""];
      } else {
        return [false, "", "Unavailable"];
      }
    }

    $(".checkin").datepicker({
      showAnim: "drop",
      defaultDate: new Date(),
      dateFormat: 'dd/mm/yy',
      minDate: "-0D",
      beforeShowDay: booked_dates
    });

    $(".checkout").datepicker({
      showAnim: "drop",
      defaultDate: new Date(),
      dateFormat: 'dd/mm/yy',
      minDate: "-0D",
      beforeShowDay: booked_dates_end
    })

    $(document).on("focus",".checkin, .checkout", function() {$(this).blur()});
  });

  $(document).ready(function(){
    $(document).on("change keypress keyup","#book_seats, #book_start_time, #book_end_time, #book_type" , function(){
      var dayDiff;
      var price;
      var total_price = 0;
      var seats = $("#book_seats").val();
      var start_date = $("#book_start_time").val();
      var end_date = $("#book_end_time").val();
      var type = $("#book_type").val();

      if (this.id == "book_type"){
        $.ajax({
          url: "<%=get_type_price_property_booking_index_path(@property)%>",
          data: {type: type},
          success: function(response) {
            $("#book_seats").html('');
            seats = '';
            $('.total_price').text('');
            $("#book_seats").append('<option disabled="disabled" selected="selected">No of seats</option>'); 
            var property_price = response.property_price; 
            var res_seats = response.seats; 
            if (res_seats.length > 0){
              $('#book_seats').prop('multiple',true);
              $('#book_seats').select2({multiple: true});
              $("#book_seats option:selected").attr('disabled','disabled').remove();
              $('label[for="number_of_seats_label"]').text("Number of rooms");
              for (var j = 0; j < res_seats.length; j++){             
                $("#book_seats").append("<option value='" +res_seats[j]+ "'>"+(j+1)+" Room - "+res_seats[j]+" Seats</option>");    
              } 
            }
            else{
              $('#book_seats').prop('multiple',false);
              $('#book_seats').select2({
                multiple: false
              });  
              for (var j = 0; j < property_price.seats; j++){                 
                $("#book_seats").append("<option value='" +(j+1)+ "'>" +(j+1)+ "</option>");    
              }    
            }  
          }
        });
      }  

      if (seats != '' && start_date != '' && end_date != '' && type != ''){
        $.ajax({
          url: "<%=get_type_price_property_booking_index_path(@property)%>",
          data: {type: type},
          success: function(response) {
            start_date = $("#book_start_time").datepicker('getDate');
            end_date = $("#book_end_time").datepicker('getDate');
            dayDiff = Math.ceil((end_date - start_date) / (1000 * 60 * 60 * 24)) + 1;

            //Check dates
            if (start_date > end_date){
              alert("End date should be greater than start date");
              $("#book_start_time").val('');
              $("#book_end_time").val('');
              $('.total_price').text('');
            }
            else{
              var property_price = response.property_price; 
              var child_seats = response.seats;
              if (child_seats.length > 0){
                for (var i = 0; i < seats.length; i++){     
                  total_price += property_price.price * dayDiff * seats[i];  
                }   
              }
              else{
                total_price = property_price.price * dayDiff * seats;
              }
              $('.total_price').text(total_price);
              $("#book_total_amount").val(total_price)
            }
          }
        });
      }
    });
  });
</script>


