<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="stepwizard">
      <div class="stepwizard-row">
        <div class="stepwizard-step">
          <button type="button" class="btn btn-primary btn-circle">1</button>
          <p><%=@property.id.nil? ? 'Create' : 'Update'%> Property</p>
        </div>
        <div class="stepwizard-step">
          <a href="<%= @property.id.nil? ? '#-': step_2_admin_property_path(@property)%>" class="btn btn-default btn-circle">2</a>
          <p><%=@property.id.nil? ? 'Add' : 'Update'%>  seats</p>
        </div>
      </div>
    </div>
    <br>

    <%= semantic_form_for  [:admin, @property]  do |f| %>
      <% if @property.errors.any? %>
        <center><div id="error_explanation" style="color:red;">
          <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

          <ul>
          <% @property.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div><br></center>
      <% end %>

      <div class="row">
        <div class="col-md-3">
          <%= f.label :select_owner_email %>*<br>
        </div>
        
        <div class="col-md-9">
          <select name="user_id" class="form-control create_number_of_rooms" required <%="disabled" if @property.try(:id).present?  %>>
            <option value="" disabled="disabled" selected="selected">Select owner</option>
            <% User.joins(:roles).where('roles.name = ?', "Owner").all.each do |user|%>
              <option value="<%=user.id%>" <%="selected" if user == @property.try(:user) %> ><%=user.email%></option>
            <%end%> 
          </select> 
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
          <%= f.label :Name_of_Property %>*<br>
        </div>
        
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control", required: 'true', :placeholder=>"Enter property name" %> 
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
          <%= f.label :phone_number %>*<br>
        </div>
        <div class="col-md-9">
          <%= f.text_field :phone_number, class: "form-control", required: 'true',:onkeypress=>"return event.charCode >= 48 && event.charCode <= 57" ,:maxlength=>"10", :placeholder=>"Enter 10 digit Mobile Number" %> 
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
          <%= f.label :email %>*<br>
        </div>
        <div class="col-md-9">
         <%= f.text_field :email, class: "form-control", required: 'true', :placeholder=>"your@emaple.com" %>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
          <%= f.label :property_type %><br>
        </div>
        <div class="col-md-9">
         <% PropertyType.all.each do |a_value| %>
          <label class="checkbox-inline">
          <% status = @property.properties_type.present? ? (JSON(@property.properties_type).include?(a_value.id.to_s) ? true : false ) : false %>
          <%= f.check_box :properties_type, { :multiple => true, :checked=> status}, a_value.id %><%=a_value.name%>
          </label>
        <% end %>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
         <%= f.label :contact_person %>*<br>
        </div>
        <div class="col-md-9">
          <%= f.text_field :contact_person, :placeholder=>"Enter contact person name", class: "form-control",required: 'true'%>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
         <%= f.label :description %>*<br>
        </div>
        <div class="col-md-9">
          <%= f.text_area :description, :placeholder=>"Describe property", class: "form-control",required: 'true', size: "20x5"%>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
         <%= f.label :address %>*<br>
        </div>
        <div class="col-md-9">
          <%= f.text_field :address, :class=> "form-control", :id=>"property_address_#{@property.id}", :placeholder=>"Enter property address" %>
        </div>
      </div>

      <br>
      <div class="field">
        <div id="property_map"></div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
         <%= f.label :facilities %><br>
        </div>
        <div class="col-md-9">
          <% Facility.all.each do |a_value| %>
            <label class="checkbox-inline">
              <%status = @property.facilities.present? ? (JSON(@property.facilities).include?(a_value.id.to_s) ? true : false ) : false %>
              <%= f.check_box(:facilities, { :multiple => true, :checked=> status }, a_value.id) %><%=a_value.name%>
            </label>
          <% end %>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-3">
        <%= f.label :access_day %><br>
        </div>
        <div class="col-md-9">
           <% AccessDay.all.each do |a_value| %>
          <label class="checkbox-inline">
            <%status = @property.access_day.present? ? (JSON(@property.access_day).include?(a_value.id.to_s) ? true : false ) : false %>

            <%= f.check_box(:access_day, { :multiple => true, :checked=> status }, a_value.id) %><%=a_value.name%>
          </label>
        <% end %>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-md-3">
        <%= f.label :opening_hours %><br>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <%= f.select "start_date", options_for_select(property_time, @property.start_date), {include_blank: 'Start Time'}, { autofocus: 'true', class: 'form-control'} %>
            </div>
            <div class="col-md-4">
              <%= f.select "end_date", options_for_select(property_time, @property.end_date), {include_blank: 'End Time'}, {autofocus: 'true', class: 'form-control'} %>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>

      <!-- <br>
      <div class="row">
        <div class="col-md-3">
        <%#= f.label :rent_status %><br>
        </div>
        <div class="col-md-9">
          <label class="checkbox-inline">
            <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Days") ? true : false) : false}, "Days") %>Days
          </label>
          <label class="checkbox-inline">
            <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Week") ? true : false) : false}, "Week") %>Week
          </label>
          <label class="checkbox-inline">
            <%#= f.check_box(:rent_status, { :multiple => true, :checked=> @property.rent_status.present? ? (@property.rent_status.include?("Month") ? true : false) : false}, "Month") %>Month
          </label>
        </div>
      </div> -->

      <br>
      <div class="actions"><center>
        <input class="btn btn-primary" type="submit" value="<%=@property.id.nil? ? 'Continue' : 'Update'%>">
      </div><br>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

