<!DOCTYPE html>
<html>
<head>
  <title>Travego</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

 	<meta charset="utf-8">
  <meta name="description" content="travel, trip, store, shopping, siteweb, cart">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>


  <script src="/assets/jquery-1.10.1.min.js" type="text/javascript"></script>
  <script src="/assets/login_singup.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script> 
  <script src="/assets/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
  <!-- waypoint -->
  <script type="text/javascript" src="/assets/waypoints.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5VZgov6ghzDWj8YxaM4v5dQbE5u2Fv8k&libraries=places"
  async defer></script>
  <script src="/assets/thumbnail-slider.js" type="text/javascript"></script>
  <script src="/assets/map_initialize.js" type="text/javascript"></script>
  
  <%= csrf_meta_tags %>
  
</head>
<body>
  <%=render 'shared/header'%>
  
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
   <% end %>
  </div>

  <%= yield %>
  <%= render 'shared/footer'%>
</body>
</html>






