<!DOCTYPE html>
<html>
<head>
  <title>IVS Offices</title>
  <%= stylesheet_link_tag    'partner', media: 'all' %>
  <link href="/assets/partner/responsive.css" rel="stylesheet">

 	<meta charset="utf-8">
  <meta name="description" content="travel, trip, store, shopping, siteweb, cart">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag 'partner' %>
  <script type="text/javascript" src="assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/partner_main.js"></script>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <%= yield %>
  <%= render 'shared/footer'%>
</body>
</html>





